<!DOCTYPE html>
<html>
<head>
  <title>DBSbook</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default" style="background-color:#474A9B">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" ><font color="white">DBSbook</font></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/transaction"><font color="white">Payments</font></a></li>
        <li><a href="/community"><font color="white">Communities</font></a></li>
        <li><a href="/music"><font color="white">Music</font></a></li>
        <li><a href="/events"><font color="white">Events</font></a></li>
        <li><a href="/market"><font color="white">Market</font></a></li>
        <li><a href="/myprofile"><font color="white">Profile</font></a></li>
        <li><a href="/logout"><font color="white">Logout</font></a></li>
      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
		  <div class="media">
 		  <div class="media-left">
 			<img src= {{userdata['profile_picture']}} class="media-object" style="width: 128px; height: 128px;">
 		  </div>
 		  <div class="media-body">
 		  </div>
 		  <br>
 		</div>
 			<h2 class="media-heading">{{userdata["username"]}}</h2>
 			<p>Status: {{userdata['bio']}}</p>
      </div>

      <div class="col-md-6">
      	<h1 align="center">Music Player</h1>
        <div>
			<br>
        <!-- post form -->
		<center>
			{% for f in video %}
			<h3><b>{{f[1]}}</b> {{f[2]}}</h3>
			{{f[3]}}({{f[4]}})
			{% endfor %}
		</center>
		<br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video[0][5]}}?autoplay=1&modestbranding=1&autohide=1&controls=1&showinfo=0&rel=0"></iframe>
        </div>
        <!-- ./timeline -->
      </div>
	  <div class="col-md-3">
	  <!-- playlist -->
		<div class="panel panel-default">
		  <div class="panel-body">
			<h4>Your Playlist</h4>
			<ul>
			  {% for f in playlist %}
			  <li>
				<a class="text-success" href="/musicvideo/{{f[0]}}"><b>{{f[1]}}</b></a>
				{{f[2]}}
			  </li>
			  {% endfor %}
			</ul>
		  </div>
		</div>
		<!-- playlist -->
	  </div>
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <!-- <li>DBSbook - Made by [your name here]</li> -->
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>
