<!DOCTYPE html>
<html>
<head>
  <title>DBSbook</title>

  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DBSbook</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/transaction">Payments</a></li>
        <li><a href="/community">Communities</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/market">Market</a></li>
        <li><a href="/myprofile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- edit profile -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Edit profile</h4>
            <form method="post" action="/myprofile">
              <div class="form-group">
                <input class="form-control" type="text" name="status" placeholder="Status" value="">
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="picture" placeholder="Picture URL" value="">
              </div>

              <div class="form-group">
                <input class="btn btn-primary" type="submit" name="update_profile" value="Save">
              </div>
            </form>
          </div>
        </div>
        <!-- ./edit profile -->
      </div>
      <div class="col-md-6">
        <!-- user profile -->
        <div class="media">
          <div class="media-left">
            <img src= {{userdata['profile_picture']}} class="media-object" style="width: 128px; height: 128px;">
          </div>
          <div class="media-body">
            <h2 class="media-heading">{{userdata["username"]}}</h2>
            <p>Status: {{userdata['bio']}}</p>
          </div>
        </div>
        <!-- user profile -->

        <hr>

        <!-- timeline -->
        <div>
          <!-- post -->
          {% for p in userdata["posts"] %}
              <div class="panel panel-default">
                <div class="panel-body">
                  <p>{{p[0]}}</p>
                 {% if p[3] != None %}
                  <center><img align = center src = "{{p[3]}}" height="300" width="300"></center>
                {% endif %}
                </div>
                <div class="panel-footer">
                  <span>posted {{p[1]}} by you</span>
                  <span class="pull-right"><a class="text-danger" href="/posts/delete/{{p[2]}}">[delete]</a></span>
                </div>
              </div>
          {% endfor %}
          <!-- ./post -->
        </div>
        <!-- ./timeline -->
      </div>
      <div class="col-md-3">
        <!-- friends -->
      <div class="panel panel-default">
          <div class="panel-body">
            <h4>Friends</h4>
            <ul>
              {% for f in userdata['friends'] %}
              <li>
                <a href="#">{{f[0]}}</a>
                <a class="text-danger" href="chats/{{f[1]}}">[chat]</a>
                <a class="text-danger" href="friends/delete/{{f[1]}}">[unfriend]</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- ./friends -->
      </div>
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <!-- <li>DBSbook - Made by [your name here]</li> -->
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>
