<!DOCTYPE html>
<html>
<head>
  <title>DBSbook</title>

  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DBSbook</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/transaction">Payments</a></li>
        <li><a href="/community">Communities</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/market">Market</a></li>
        <li><a href="/myprofile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- profile brief -->
         <div class="media">
          <div class="media-left">
            <br><br><br>
            <img src= {{userdata['profile_picture']}} class="media-object" style="width: 128px; height: 128px;">
          </div>
          <div class="media-body">
          </div>
          <br>
        </div>
            <h2 class="media-heading">{{userdata["username"]}}</h2>
            <p>Balance: {{userdata['wallet'][0]}}</p>
        <!-- ./profile brief -->

      </div>
      <div class="col-md-6">
        <!-- post form -->
          <img src= '/static/img/wallet.png' align = 'center' style="width: 180px; height: 180px;">
          <img src= '/static/img/wallet.png' align = 'center' style="width: 180px; height: 180px;">
          <img src= '/static/img/wallet.png' align = 'center' style="width: 180px; height: 180px;">
          <hr>
        <form method="post" action="transaction" enctype="multipart/form-data">
          <div class="input-group">
            <input class="form-control" type="text" name="amount" placeholder="Enter Amount">
            <br><br>
          <select class="form-control" name="friends">
          {% for f in userdata['friends'] %}
          <option value="{{f[1]}}">{{f[0]}}</option>
          {% endfor %}
        </select>
        <!-- <hr> -->
		<br><br>
		<input class="form-control" type="text" name="message" placeholder="Add a message">
        <br><br>
            <!-- <span class="input-group-btn"> -->
              <button class="btn btn-success" type="submit" name="money">Send</button>
            <!-- </span> -->
          </div>
        </form><hr>
        <!-- ./post form -->
      </div>

      <div class="col-md-3">



      </div>
       <div class="col-md-3">
      <!-- add friend -->
            <br><br><br>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Transaction History</h4>
            <ul>
              {% for f in userdata['transactions'] %}
              <li>
                <b>{{f[7]}}</b> <br>
				Money - {{f[3]}} <br>
				Message - {{f[5]}} <br>
				On - {{f[4]}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- ./add friend -->
      </div>
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>
