<!DOCTYPE html>
<html>
<head>
  <title>DBSbook</title>

  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DBSbook</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/transaction">Payments</a></li>
        <li><a href="/community">Communities</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/market">Market</a></li>
        <li><a href="/myprofile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- edit profile -->
<!--         <div class="panel panel-default">
          <div class="panel-body">
            <h4>Edit profile</h4>
            <form method="post" action="">
              <div class="form-group">
                <input class="form-control" type="text" name="status" placeholder="Status" value="">
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="location" placeholder="Location" value="">
              </div>

              <div class="form-group">
                <input class="btn btn-primary" type="submit" name="update_profile" value="Save">
              </div>
            </form>
          </div>
        </div> -->
        <!-- ./edit profile -->
      </div>

      <div class="col-md-6">
        <h1 align="center">All Communitites</h1>
        <!-- user profile -->
       
        <!-- user profile -->
        <hr>
        <!-- timeline -->



        <div>
        <!-- post form -->
        
          <!-- Events -->
              <div class="panel panel-default">
                <div class="panel-body">
          {% for g in groups %}
                  <h3>{{g[1]}}</h3>
                  <p>{{g[2]}}</p>
                <div>
                <div class="panel-footer">
                    <a href = "../groups/{{g[0]}}"">
                  <img src = "../static/img/enter.png" height="40" width="90">
                  </a>
                </div>
                <hr>
          {% endfor %}
              </div>
          <!-- ./Events -->
        </div>
        <!-- ./timeline -->
      </div>
      <div class="col-md-3">
        <!-- friends -->
       
        <!-- ./friends -->
      </div>
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <!-- <li>DBSbook - Made by [your name here]</li> -->
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>
